#notice-wrapper {
  max-width: 90%;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#notice-wrapper .notice-item {
  font-size: 0.8rem;
  background-color: #515253;
  color: #f1f1f1;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0;
}

#notice-wrapper .notice-item.flash {
  min-width: 600px;
}