body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,"BlinkMacSystemFont","Helvetica Neue","PingFang SC","Microsoft YaHei","Source Han Sans SC","Noto Sans CJK SC","WenQuanYi Micro Hei",sans-serif;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 16px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
  border-radius:10px;
  background-color:#F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.1);
    background-color:#aaa;
}

@keyframes slideInRight {
  from {
    transform: translate3d(90%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInRight {
  animation: slideInRight .3s ease;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

.slideOutRight {
  animation: slideOutRight .3s ease;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation: fadeInLeft .1s ease;
}