body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  border: 1px solid #555555;
}

.app-container .top {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 448px;
  z-index: 999;
}

.app-container .top .close-window {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.app-container .top .close-window:hover {
  background-color: crimson;
}

/**************** left ******************/
.app-container .left {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container .left .cover img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 80px;
  animation: cover-spin infinite 20s linear;
}
/*************** right *******************/
.app-container .right {
  width: 248px;
  height: 180px;
  padding: 20px 0 0 0;
}

.app-container .right .song-info {
  width: 176px;
  height: 60px;
  margin: 0 32px;
}

.app-container .right .song-info .song-item {
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.app-container .right .song-info .song-title {
  font-size: 18px;
}

.app-container .right .song-info .song-author {
  font-size: 14px;
}

.app-container .right .song-operate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  text-align: center;
}

.app-container .right .song-operate .operate-item {
  margin: 0 8px;
  cursor: pointer;
}

.app-container .right .song-operate .operate-item.random {
  height: 24px;
  width: 24px;
}

.app-container .right .song-progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 4px;
  margin: 16px 20px;
  transition: all .3s ease;
}

.app-container .right .song-progress:hover {
  transform: scale3d(1.05, 1.05, 1);
}

.app-container .right .song-progress .played,.toplay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 4px; /* 将进度条向右移动4px 使得看起来更加居中*/
  cursor: pointer;
}

.app-container .right .song-progress .played {
  width: 150px;
  background-color: #28B463;
}

.app-container .right .song-progress .toplay {
  background-color: #82E0AA;
}

@keyframes cover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
