* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

#root {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.pages {
  height: calc(100vh - 80px);
}

.mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.perfect-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.perfect-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4a4b4c;
}

.electron-drag {
  -webkit-app-region: drag;
}

.electron-no-drag {
  -webkit-app-region: no-drag;
}

.text-overflow {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}